<!DOCTYPE html>
<html>

  <head>

    <meta charset="utf-8">
    <title>Eclipse</title>
    {% load static %}
    <link rel="stylesheet" href=" {% static 'css/bootstrap.min.css' %} " type="text/css">
    <script src="{% static 'js/jquery-3.4.1.min.js' %}" ></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href=" {% static 'css/style.css' %}" type="text/css">
  </head>

  <body>

    <div id="particles-js">
      <div id="welcome" >
        <div class="jumbotron">
          <font color="white">
          <h1 class="display-4">Select an Image</h1>

          <form method="POST" action="encode" enctype="multipart/form-data">
            {% csrf_token %}
            <script>
                $(function () {
                    $('#Encode').attr("disabled", true);

                    $('#fileInput').change(function () {
                        if ($('#fileInput').val().length == 0)
                            $('#Encode').attr("disabled", true);
                        else
                            $('#Encode').attr("disabled", false);
                    });
                });
            </script>

            <script>
                $(function () {
                    $('#Decode').attr("disabled", true);

                    $('#fileInput').change(function () {
                        if ($('#fileInput').val().length == 0)
                            $('#Decode').attr("disabled", true);
                        else
                            $('#Decode').attr("disabled", false);
                    });
                });
            </script>
            <br>
            <input id="fileInput" name="document" type="file" class="btn btn-dark" accept=".png, .jpg, .jpeg"/><br><br>
            <button id="Encode" type="submit"  class="btn btn-outline-danger" > Encode </button><br><br>
            <button id="Decode" type="submit" class="btn btn-outline-warning" formaction="check"> Decode </button>
            <br><br>
            <button type="button"  class="btn btn-outline-success" onclick="location.href='../../eclipse' ">< Back To Homepage </button>


          </form>
          </font>
        </div>
      </div>
    </div>
    <script src="{% static 'js/particles.min.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>

  </body>

</html>
